asgiref==3.7.2
backports.zoneinfo==0.2.1
certifi==2023.7.22
charset-normalizer==3.2.0
Django==4.2.4
django-stubs==4.2.3
django-stubs-ext==4.2.2
idna==3.4
mypy==1.5.1
mypy-extensions==1.0.0
Pillow==7.2.0
pytz==2020.1
requests==2.31.0
sqlparse==0.3.1
tomli==2.0.1
types-pytz==2023.3.0.1
types-PyYAML==6.0.12.11
typing-extensions==4.7.1
urllib3==2.0.4
