{% extends 'public/base.html' %}
{% load static %}


{% block title_html %}
    {{ block.super }} Vasi podaci
{% endblock %}

{% block headcss %}
    {{ block.super }}<link rel="stylesheet" href='{% static "css/login.css" %}' type="text/css">
    <script src='{% static "javascript/knjiga.js" %}'></script>
    <script src='{% static "javascript/korisnik_podaci.js" %}'></script>
{% endblock %}

{% block h1 %}
Vasi nalog > Vasi podaci
{% endblock %}

{% block article_content %}
    <div class="row center-content-color d-flex justify-content-center">



            <div class="d-flex justify-content-center default-look">
                <div class="col">
                    <h3>Vasi podaci</h3>

                    <div class="bitne-inf-look">
                        <p>E-mail</p>
                        <div class="bitne-inf-look__part">{{ user.email }}</div>
                        <p>Username</p>
                        <div class="bitne-inf-look__part">{{ user.username }}</div>
                    </div>

                    <div class="bitne-inf-look__part bitne-inf-look__part2" style="display:none;">
                        <input type="text" class="form-control" value="{{ user.first_name }}"/>
                    </div>

                    <p>Ime</p>
                    <div class="bitne-inf-look__part bitne-inf-look__part2">
                        <input type="text" class="form-control" id="first_name" value="{{ user.first_name }}" >
                    </div>

                    <p>Prezime</p>
                    <div class="bitne-inf-look__part bitne-inf-look__part2">
                        <input type="text" class="form-control" id = "last_name" value="{{ user.last_name }}">
                    </div>
                    {% if user.id != 1 %}

                      <p>Ulica i broj</p>
                      <div class="bitne-inf-look__part bitne-inf-look__part2">
                          <input type="text" class="form-control" id = "ulicaIBroj" value="{{ object.ulicaIBroj }}">
                      </div>

                      <p>Broj poste</p>
                      <div class="bitne-inf-look__part bitne-inf-look__part2">
                          <input type="text" class="form-control" id="brojPoste" value="{{ object.brojPoste }}">
                      </div>

                      <p>Mesto</p>
                      <div class="bitne-inf-look__part bitne-inf-look__part2">
                          <input type="text" class="form-control" id="grad" value="{{ object.grad }}">
                      </div>

                      <p>Telefon</p>
                      <div class="bitne-inf-look__part bitne-inf-look__part2">
                          <input type="text" class="form-control" id="telefon" value="{{ object.telefon }}">
                      </div>
                    {% endif %}
                    <button class="btn btn-outline-success my-2 default-btn" data-toggle="modal" data-target="#exampleModal"  value="{% url 'azuriranje' %}" data-value = "{{ user.id }}" >Snimi izmene</button>
                    <script>modalZaDom();</script>


                </div>
            </div>
    </div>

{% endblock %}
