{% extends 'public/base.html' %}
{% load static %}


{% block title_html %}
    {{ block.super }} Login page
{% endblock %}

{#{% block headcss %}#}
{#    {{ block.super }}<link rel="stylesheet" href='{% static "css/login.css" %}' type="text/css">#}
{#{% endblock %}#}

{% block h1 %}
Login page
{% endblock %}

{% block article_content %}
    {% if user.is_authenticated %}
        <div class="row center-content-color d-flex justify-content-center">
            <div class="d-flex justify-content-center default-look">

                <div class="col">
                    <h3>Vas nalog</h3>
                    {% if user.id == 1 %}

                      <a href="{% url 'korisnik_podaci' 1 %}"><button class="btn btn-outline-success my-2 default-btn">Vasi podaci</button></a><br>
                    {% else %}
                      <a href="{% url 'korisnik_podaci' request.session.korisnikInfoId %}"><button class="btn btn-outline-success my-2 default-btn">Vasi podaci</button></a><br>
                      <a href="{% url 'narudzbine' %}"><button class="btn btn-outline-success my-2 default-btn">Naruceno</button></a><br>
                      <a href="{% url 'registracija' %}"><button class="btn btn-outline-success my-2 default-btn">Utisci</button></a><br>
                      <a href="{% url 'registracija' %}"><button class="btn btn-outline-success my-2 default-btn">Ocene i misljenja</button></a><br>
                    {% endif %}

                    <a href="{% url 'logout' %}"><button class="btn btn-outline-success my-2 default-btn">Odjavljivanje</button></a>

                </div>

            </div>
        </div>
{#                <h1>Vas nalog</h1>#}
{##}
{#                <div class="korisnik-info korisnik-info__i">#}
{#                    <a href="{% url "korisnik_podaci" request.session.korisnikInfoId %}">Vasi podaci</a>#}
{#                </div>#}
{##}
{#                <div class="korisnik-info">#}
{#                    <a href="{% url "logout" %}">Naruceno</a>#}
{#                </div>#}
{##}
{#                <div class="korisnik-info">#}
{#                    <a href="{% url "logout" %}">Utisci</a>#}
{#                </div>#}
{##}
{#                <div class="korisnik-info">#}
{#                    <a href="{% url "logout" %}">Ocene i misljenja</a>#}
{#                </div>#}
{##}
{#                <div class="korisnik-info korisnik-info__i">#}
{#                    <a href="{% url "logout" %}">Odjavljivanje/logout</a>#}
{#                </div>#}



{#        </div>#}

    {% else %}

        <div class="row center-content-color d-flex justify-content-center">
            <form method="post" action="{{ login }}">
               {% csrf_token %}
               <div class="d-flex justify-content-center default-look">

                    <div class="col">
                        <h3>Prijavite se</h3>
                        <p>
                            {{ form.as_p }}
                        </p>
                        <button class="btn btn-outline-success my-2" type="submit">Uloguj se</button>
{#                        <input type="submit" class="button" value="Uloguj se"/>#}
                        <p>Ako nemate otvoren nalog kod TestKnjizare: </p>
                        <button class="btn btn-outline-success my-2"><a href="{% url 'registracija' %}">Otvorite nalog</a></button>
                    </div>

               </div>

            </form>
        </div>
    {% endif %}
{% endblock %}

{#            <tr>#}
{#                <td>Username:<input type="text"/> <br/></td>#}
{#                <td>Password:<input type="password"/> <br/></td>#}
{#            </tr>#}
