{% extends 'public/base.html' %}
{% load static %}


{% block title_html %}
    {{ block.super }} Narudzbine
{% endblock %}

{% block h1 %}
Narudzbine
{% endblock %}
{% block article_content %}
    {% if user.is_authenticated %}
        <div class="row center-content-color d-flex justify-content-center">
            <div class="d-flex justify-content-center default-look">
                <div class="col">
                    <h3>Vase narudzbine</h3>
                    <p></p>
                    {% if object_list|length > 0 %}

                        {% for i in object_list %}
                            <table class="table table-bordered">
                                <p>Narudzbine od {{ i.0.datum }}</p>

                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Naslov</th>
                                        <th scope="col">Cena</th>
                                        <th scope="col">Kom.</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for knjiga in i.1 %}
                                    <tr>
        {#                            <p>{{ MEDIA_URL }}</p>#}
                                      <th scope="row"><img src="{{ knjiga.3.url }}" width="84"></th>
                                      <td>{{ knjiga.0 }}</td>
                                      <td>{{ knjiga.1 }}</td>
                                      <td>{{ knjiga.2 }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                                <tbody>
                                    <tr>
                                        <td scope="row" rowspan="2"></td>
                                        <th style="text-align:right;">Ukupno</th>
                                        <td>{{ i.0.ukupno }}</td>
                                        <td>{{ i.0.kolicina }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" style="text-align:right;">Placeno</th>
                                        {% if i.0.placeno == True %}
                                        <td>Da</td>
                                        {% elif i.0.placeno == False %}
                                        <td>Ne</td>
                                        {% endif %}
                                    </tr>
                                </tbody>
                            </table>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    {% else %}

    {% endif %}
{% endblock %}