{% extends 'public/base.html' %}
{% load static %}

{% block title_html %}
{{ block.super }} Ocenjene knjige
{% endblock %}


{% block h1 %}
Ocenjene knjige
{% endblock %}

{% block article_content %}
     <div class="row center-content-color d-flex justify-content-center">
            <div class="d-flex justify-content-center default-look">
                <div class="col">
                    {% if user.is_authenticated %}
                    <h3>Vase ocene</h3>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Knjiga</th>
                                <th scope="col">Ocena</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for knjiga in object_list %}
                            <tr>
                                <th scope="row">{{ knjiga.rbr }}</th>
                                <td>{{ knjiga.naslov }}</td>
                                <td>{{ knjiga.ocena }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                        <h3>Nemate nijednu ocenu</h3>
                    {% endif %}
                </div>
            </div>
     </div>
{% endblock %}