{% load narudzbine_tags %}
{% if is_paginated %}
<h1 class="main-container__label">Vase narudzbine</h1>
<div class="main-container__label">
  <span>
    {% if page_obj.has_previous %}
    <a href="{% url 'narudzbine' %}?page={{ page_obj.previous_page_number }}"
      hx-get="{% url 'narudzbine' %}?page={{ page_obj.previous_page_number }}" hx-swap="innerHTML swap:0.5s"
      hx-push-url="true" hx-target=".main-container">Previous</a>
    {% endif %}
    <span style="margin-left:15px;margin-right:15px;">
      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
    </span>
    {% if page_obj.has_next %}
    <a href="{% url 'narudzbine' %}?page={{ page_obj.next_page_number }}"
      hx-get="{% url 'narudzbine' %}?page={{ page_obj.next_page_number }}" hx-swap="innerHTML swap:0.5s"
      hx-push-url="true" hx-target=".main-container">Next</a>
    {% endif %}
  </span>
</div>

{% endif %}
{% for narudzbina in object_list %}
<h1 class="main-container__label">{{ narudzbina.datumNarucivanja }}</h1>
<table class="full-table">
  <thead>
    <tr>
      <th>#</th>
      <th>Naslov</th>
      <th>Cena</th>
      <th>Kom</th>
    </tr>
  </thead>
  <tbody>
    {% with stavke=narudzbina|get_stavke %}
    {% for stavka in stavke %}
    <tr>
      <td>
        <img src="/media{{ stavka.knjiga.slika }}" width="84">
      </td>
      <td>{{ stavka.knjiga.naslov }}</td>
      <td>{{ stavka.knjiga.cena }}</td>
      <td>{{ stavka.kolicina }}</td>
    </tr>
    {% endfor %}
    {% endwith %}
    <tr>
      <td rowspan="2">
      </td>
      <td><b>Ukupno</b></td>
      <td>{{ narudzbina|stavka_ukupno }}.din</td>
      <td>{{ narudzbina|stavke_kolicina }}</td>
    </tr>
    <tr>
      <td><b>Placeno</b></td>
      {% if narudzbina.placeno == True %}
      <td>Da</td>
      {% else %}
      <td>Ne</td>
      {% endif %}
      <td></td>
    </tr>
  </tbody>
</table>
{% endfor %}
<script>
  document.title = "Narudzbine"
  document.querySelector(".main-container").id = "narudzbine";
</script>