{% extends "base.html" %}
{% load static %}
{% block headcss %}
    {{ block.super }}
    <script src="{% static 'javascript/user-info.js' %}"></script>
    <style>
        .user-data {
            grid-column: 1 / 2;
        }
        .user-data__button {
            font-size: 0.65em;
            margin-top: 0.3em;
        }
    </style>
{% endblock %}

{% block article_content %}

    <p class="main-container__label">Username</p>
    <input class="user-data" disabled type="text" value="{{ korisnik }}">
    <p class="main-container__label">E-mail</p>
    <input class="user-data" disabled type="text" value="{{ request.user.email }}">


    <p class="main-container__label">Ime</p>
    <input class="user-data" type="text" value="{{ request.user.first_name }}">
    <p class="main-container__label">Prezime</p>
    <input class="user-data" type="text" value="{{ request.user.last_name }}">
    <p class="main-container__label">Grad</p>
    <input class="user-data" type="text" value="{{ korisnik.grad }}">
    <p class="main-container__label">Ulica i broj</p>
    <input class="user-data" type="text" value="{{ korisnik.ulicaIBroj }}">
    <p class="main-container__label">Telefon</p>
    <input class="user-data" type="text" value="{{ korisnik.telefon }}">
    <div class="user-data">
        <button class="button user-data__button">Potvrdi</button>
    </div>
    
{% endblock %}
{% block scripts %}
{{ block.super }}
    userInfoBtnListener();
{% endblock %}