<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  {% block headcss %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    {% block title_html %}Knjizara Test - {% endblock %}
  </title>
  <link rel="stylesheet" href='{% static "css/styles.min.css" %}' type="text/css">
  <link rel="stylesheet" href='{% static "css/modal.min.css" %}' type="text/css">
  <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}" />
  <script src='{% static "javascript/vite/index.js" %}'></script>
  <script src='{% static "javascript/lib/cdn.min.js" %}' defer></script>
  <script src='{% static "javascript/lib/htmx.min.js" %}'></script>
  <style>
    .fade-me-out.htmx-swapping {
      opacity: 0;
      transition: opacity 1s ease-out;
    }
  </style>

  <!--
  <script src="//unpkg.com/alpinejs" defer></script>
  -->
  <!--  <script src="//unpkg.com/alpinejs" defer></script> -->
  <style>
    .main-modal-visible {
      position: absolute;
      background: #292121d4;
      width: 100%;
      height: 100%;
      z-index: 5;
    }

    .kategorija-knjiga {
      grid-column: 1 / 3;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
    }

    .kategorija-knjiga__item {
      flex: 1 33.3%;
    }

    .none-pointer {
      cursor: default;
    }
  </style>
  {% endblock %}
</head>

<body>


  <body>

    <div x-data x-show="$store.all.modal.visible == true" :class="{'main-modal-visible': $store.all.modal.visible}">
    </div>

    <nav class="nav-container">
      <button class="menu-toggle" id="menu-toggle">
        <i class="fas fa-bars"></i>
      </button>
      <div class="nav-container__inner">
        <a id="home" x-data="" x-ref="home" class="home-link" href="/" hx-get="/" hx-swap="innerHTML swap:0.5s"
          hx-push-url="true" hx-target=".main-container">BookStore</a>
        <ul x-data class="top-nav" id="main-menu">
          <li><i class="fas fa-search"></i></li>
          <li @click="$store.all.modal.setCurrent('basket'); $store.all.modal.toggle();"><i
              class="fas fa-shopping-basket"></i></li>
          <li @click="$store.all.modal.setCurrent('user'); $store.all.modal.toggle();">
            <i class="fas fa-user"></i>
          </li>
        </ul>
      </div>
    </nav>

    {% if not user.is_authenticated %}
    {% include "partials/components/unlogged.html" %}
    {% elif user.is_authenticated %}
    {% include "partials/components/logged_user.html" %}
    {% endif %}
    {% include "partials/components/basket.html" %}
    {% include "partials/server-modal.html" %}

    <div id="main" class="main-container">
      {% block article_content %} {% endblock %}
    </div>

    <div class="footer">
      <p>&copy; BookStore</p>
    </div>

    <script>
      {% block scripts %}
      (function () {
        let button = document.getElementsByClassName("menu-toggle")[0];
        button.addEventListener('click', function (event) {
          event.preventDefault();
          var menu = document.getElementById('main-menu');
          menu.classList.toggle('is-open');
        });
        // kada je ulogovan
        {% if user.is_authenticated %}
        const b = 11;
        {% endif %}
      });
      {% endblock %}
    </script>
  </body>

</html>