{% extends "base.html" %}
{% load static %}
{% block headcss %}
{{ block.super }}
<script>
  let isbn = '{{ knjiga.ISBN }}';
</script>
<style>
  .user-data__button {
    font-size: 0.65em;
    margin-top: 0.3em;
  }

  .remove-scroll {
    height: auto;
    overflow-y: auto;
  }

  .rate {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 1em;
  }
</style>
{% endblock %}

{% block article_content %}
{% include "partials/knjiga.html" %}
{% endblock %}