.korisnik-infos {
	width:28%;
	border:1px solid black;
	margin:0 auto;
    font-size: 18px;
}

.korisnik-infos h1 {
	color: #262626;
	padding:8px 16px;
}
.korisnik-info {
	text-align:center;
	width:80%;
	color:black;
	background-color:#dddddd;
	margin:18px auto;
	padding:20px;
	vertical-align:middle;
	border-radius:4px;
	border: 1px solid rgb(177, 123, 41);
}
.korisnik-info__i {
	background-color:#edc475;
}
.korisnik-info__i:hover,
.korisnik-info__i:active{
	background-color: #d5a953;
	cursor:pointer;
}
.korisnik-info:hover,
.korisnik-info:active{
	background-color: #bbbbbb;
	cursor:pointer;
}
a {
	text-decoration: none;
}
a:visited {
	color:black;
}

label {display:block;}

.bitne-inf-look {
	background-color: greenyellow;
	padding:10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	font-size: 14px;
	margin-bottom:8px;
	/*width:100%;*/
}
.bitne-inf-look__part {
	background-color: white;
	margin:5px;
	border: 2px solid #cccccc;
	padding:10px;
}
.bitne-inf-look__part2 {
	margin:0px 0px 7px 0px;
	background-color:white;
}
.email-and-user-look {
	border: 1px solid #cccccc;
	background-color: #71b24e;
}