body {
    font-family: 'Montserrat', sans-serif;
	margin:0px;
	display:none;
}


a[data-info="logo"] {
	color: #04121e;
}
.nova-knjiga {
	/* width:150px; */
	background-color:#e0effb !important;
	border:1px solid black;
	text-align:center !important;
	margin-left:2px;
}
a .nova-knjiga__slika {
	width:80px;
	border:1px solid black;
	text-align:center !important;
	margin: 0 auto;
}
.aktuelne-knjige {
	display:inline-block;
	vertical-align:top;
	
}
.col-sm-6 h6 {
	padding:8px;
}
.nova-knjiga__slika > img {
	width:80px;
	height:140px;
}
.p-2 img {
	width:140px;
	height:130px;
	cursor:pointer;
}
.top-knjige-wh {
	width:55px !important;
	height:70px !important;
}
.top-knjige-fs {
	font-size:14px;
}
.footer-dj {
	height:110px;
	background-color:#1877c4 !important;
	color:white;
}
.header-footer-bg-color {
	background-color: #1877c4 !important;
}
.center-content-color {

	background-color: #76b8ee !important;
}

/* .i-am-centered { margin: auto; max-width: 300px;} */