body {
    font-family: 'Montserrat', sans-serif;
	margin:0px;
}


a[data-info="logo"] {
	color: #04121e;
}
.nova-knjiga {
	/* width:150px; */
	background-color:#e0effb !important;
	border:1px solid black;
	text-align:center !important;
	margin-left:2px;
}
.nova-knjiga__slika {
	width:80px;
	border:1px solid black;
	text-align:center !important;
	margin: 0 auto;
	cursor: pointer;
}
.aktuelne-knjige {
	display:inline-block;
	vertical-align:top;

}
.col-sm-6 h6 {
	padding:8px;
}
.nova-knjiga__slika > img {
	width:80px;
	height:140px;
}
.p-2 img {
	width:140px;
	height:130px;
}
/*.col-sm-2 .p-3 img {*/
	/*width:350px;*/
	/*height:400px;*/
/*}*/
.top-knjige-wh {
	width:55px !important;
	height:70px !important;
}
.top-knjige-fs {
	font-size:14px;
}
.footer-dj {
	height:110px;
	background-color: #1877c4 !important;
	color:white;
}
.header-footer-bg-color {
	background-color: #1877c4 !important;
}
.center-content-color {
	background-color: #76b8ee !important;
}
/* .i-am-centered { margin: auto; max-width: 300px;} */
.default-look {
	border: 1px solid black;
	padding: 30px;
	margin:5px;
}
.default-btn {
	width:100%;
}
.narucivanje-kol {
	background-color: #1877c4;
	text-align:center;
	/*height:250px;*/
	/*vertical-align: bottom;*/
	align-self: flex-end;
  width: auto;
  height: auto;
}
.komentar-kol {
	width: 100%;
	height: auto;
	margin-top:10px;
	margin-bottom:10px;

}
.komentar-kol textarea {
	resize: none;
}
@font-face {
   font-family: urosFont;
   src: url("UrosFont.ttf");
}

.font-zvezdica {
	font-family:urosFont;
	color:rgb(255,172,51);
}
/*.no-border {*/
	/*border:1px solid #fff0 !important;*/
/*}*/