.modal-container {
    border: 1px solid black;
    position: absolute;
    width: 30em;
    z-index: 2;
    margin:0 auto;
    font-size: 0.8em;
    padding: 0.5em;
    display: block;
    left: 0.5em;
    right: 0.5em;
    background:radial-gradient(var(--brand-white-light),white);
    box-shadow: 5px 5px var(--brand-gray);
    height: 25em;
    overflow-y: scroll;
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    transition: transform 0.3s , visibility 0.2s , opacity 0.3s ease-in;
}

.modal-container--not-visible {
    opacity: 0.00;
    visibility: hidden;
    transform: scale(0.9);
    transition: transform 0.1s , visibility 0.4s , opacity 0.4s ease-in-out;
}

.modal-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 0.5em;
}

.modal-item {
    background-color: #e9ebee;
    border: 1px solid transparent;
}

.modal-item--full-column {
    grid-column: 1 / 3 !important;
}

.modal-items-gap {
    row-gap: 0.5em;
}

.modal-item:nth-child(1) {
    grid-column: 1 / 2;
}


.modal-item:nth-child(2) {
    grid-column: 2 / 3;
}

.two-columns {
    grid-column: 1 / 3;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 0.2em;
}

.modal-option  {
    display: block;
    margin: 0 auto;
}

.modal-item {
    cursor: pointer;
}

.modal-item:last-child {
    cursor: initial;
}

.modal-option--not-visible {
    display: none;
    transition: margin 2.5s ease-in;
}

.modal-option__button {
    display: block;
    margin: 0.5em auto;
}

.selected-option {
    background-color: white;
    border-top: 3px solid var(--comp-light);
    transition: border 0.25s ease-in;
}

.modal-close {
    position: absolute;
    top: 0;
    right: 0.5em;
    display: block;
}

.modal-close {
    cursor: pointer;
}
