{% extends 'public/base.html' %}
{% load static %}


{% block title_html %}
{{ block.super }} Primer knjige
{% endblock %}

{% block headcss %}
    {{ block.super }}
    <style>
    table,tr,th,td {
        border:1px solid black;
    }
    td {
        vertical-align: text-top;
        text-align:left;
    }
    </style>
    <script src="{% static 'javascript/knjiga.js' %}"></script>
{% endblock %}


{% block h1 %}
Primer knjige
{% endblock %}

{% block article_content %}
    <div class="row center-content-color d-flex justify-content-center">

        <div class="d-flex justify-content-center default-look">

            <div class="col">


                <div class="col-xs-2" style="margin-right: 10px;">
                    <img src="{{ knjiga.slika.url }}" width="300px" height="380"/>
                </div>

                <div class="col-xs-5" style="margin-right: 10px;">
                    <span>
                        <p style="font-size:26px;">
                            <b>{{ knjiga.naslov }}</b>

                        </p>

                        <p>
                            Autor:
                            <span>
                                {{ knjiga.autor }}
                            </span>
                        </p>

                        <p>
                            Strana:
                            <span>
                                {{ knjiga.strana }}
                            </span>
                        </p>

                        <p>
                            Oblast:
                            <span>
                                {{ knjiga.kategorija }}
                            </span>
                        </p>

                    </span>
                </div>
                <div id="myModal" class="modal">

                    <div class="modal-content">
                    <span class="close">&times;</span>
                    <p>Some text in the Modal..</p>

                    </div>

                </div>
                <div class="col-xs-5 narucivanje-kol">
                    <div style="height:20%;background-color:white;">
                        <h5>Narucite</h5>
                    </div>
                    <div>
                        <h8>Cena:</h8><br>
                        {{ knjiga.cena }}
                        <p>Komada:
                            <select id="kolicina">
                                <option value="1">1</option>
                                <script>komadi();</script>
                            </select>
                        </p>
                        <a href="#" >
                            <button class="btn btn-outline-success my-2 default-btn" data-toggle="modal" data-target="#exampleModal"
                            onclick="javscript: dodaj_u_korpu({{ knjiga.id }},'{% url "dodavanje_u_korpu" %}');">
                                Stavi u korpu
                            </button></a><br>

                    </div>

                </div>
                <script>modalZaDom();</script>
                <div class="col-xs-12">
                    </br>
                    <h5>Ocene i misljenja citalaca</h5>
                    {% if ocene|length < 1 %}
                    <span><p>&#10032;&#10032;&#10032;&#10032;&#10032;; &nbsp Budite prvi koji ce da oceni knjigu.</p></span>
                    {% endif %}
                </div>

                <div class="col-xs-12">

                    <table>
                        <tr>
                            <th >Ocenio</th>
                            <th>Ocena</th>
                        </tr>
                        <tr>
                            {% for i in ocene %}

                                <td><b>{{ i.0 }}</b></td>
                                <td><script>zvezdice({{ i.1 }});</script></td>
                            {% endfor %}
                        </tr>
                    </table>

                </div>

                <hr>

                <div class="col-xs-12">

                    <h5>Pitanja, odgovori, mišljenja...</h5>

                </div>

                <div class="col-xs-12">
                    <table>
                        <tr>
                            <th >Poruku poslao</th>
                            <th>Poruka</th>
                        </tr>
                        <tr>
                            {% for i in komentarLista %}

                            <td><b>{{ i.0 }}</b><br>{{ i.1 }}</td>
                            <td>{{ i.2 }}</td>
                            {% endfor %}
                        </tr>
                    </table>
                </div>

            </div>

        </div>



    </div>


{% endblock %}