{% extends "public/base2.html" %}
{% load static %}
{% block headcss %}
    {{ block.super }}
    <script src="{% static 'javascript/knjiga.js' %}"></script>
{% endblock %}

{% block article_content %}
    <h3 class="main-container__label">{{ knjiga.naslov }}</h3>
    <div class="card card--row card--entire-row">
        <div class="card__image">
            <img src="{{ knjiga.slika.url }}" width="300" height="380"/>
        </div>
        <div class="card--group-data">
            <h3 class="card__author"><a style="text-decoration:none;color:white;" href="{% url 'autor' %}{{ knjiga.autor_id }}">{{ knjiga.autor }}</a></h3>
            <p class="card__description">
                {% if knjiga.kategorija|lower == "ljubavni roman" %}
                    <a style="text-decoration:none;color:white;" href="{% url 'ljubavni_roman' %}" >{{ knjiga.kategorija }}</a>
                {% else %}
                    <a style="text-decoration:none;color:white;" href="{% url knjiga.kategorija|lower %}" >{{ knjiga.kategorija }}</a>
                {% endif %}
            </p>
            <p class="card__pages">Strana: {{ knjiga.strana }}</p>
            <p class="card__price">Cena: {{ knjiga.cena }}</p>
        </div>
    </div>
    <h2 class="main-container__label">✰✰✰✰✰  Ocene i misljenja citalaca</h2>
    <div>
        <button class="button button--big">Ocenite</button>
    </div>
    
    <table class="book-table">
        <tr>
            <th>Username</th>
            <th>Rating</th>
        </tr>
        {% for i in ocene %}
        <tr>
            <td>{{ i.0 }}</td>
            <td class="font-zvezdica" ><script>zvezdice({{ i.1 }});</script></td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}