{% extends 'public/base.html' %}
{% load static %}
{% block title_html %}
{{ block.super }} Korisnici lista
{% endblock %}

{% block h1 %}
Korisnici lista
{% endblock %}

{% block article_content %}
    <table>
        <tr>
            <td>First name</td>
            <td>Last name</td>
            <td>username</td>
            <td>Ulica i broj</td>
            <td>Broj poste</td>
            <td>Grad</td>
            <td>Telefon</td>
        </tr>
            {% if is_paginated %}
            <div class="pagination">
                <span>
                    {% if page_obj.has_previous %}
                        <a href="{% url "lista_korisnika" %}?page={{ page_obj.previous_page_number }}">Previous</a>
                    {% endif %}
                <span style="margin-left:15px;margin-right:15px;">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="{% url "lista_korisnika" %}?page={{ page_obj.next_page_number }}">Next</a>
                {% endif %}
                </span>
            </div>
            {% endif %}
            {% for korisnik in object_list %}
                <tr>
                    <td>{{ korisnik.first_name }}</td>
                    <td>{{ korisnik.last_name }}</td>
                    <td>{{ korisnik.username }}</td>
                    <td>{{ korisnik.ulicaIBroj }}</td>
                    <td>{{ korisnik.brojPoste }}</td>
                    <td>{{ korisnik.grad }}</td>
                    <td>{{ korisnik.telefon }}</td>
                </tr>
            {% endfor %}
    </table>
{% endblock %}