{% extends 'public/base.html' %}
{% load static %}


{% block title_html %}
    {{ block.super }} Login page
{% endblock %}

{% block headcss %}
    {{ block.super }}<link rel="stylesheet" href='{% static "css/login.css" %}' type="text/css">
{% endblock %}

{% block h1 %}
Login page
{% endblock %}

{% block article_content %}
    {% if user.is_authenticated %}
        <div class="korisnik-infos ">
                <h1>Vas nalog</h1>

                <div class="korisnik-info korisnik-info__i">
                    <p>Vasi podaci</p>
                </div>

                <div class="korisnik-info">
                    <p>Naruceno</p>
                </div>

                <div class="korisnik-info">
                    <p>Utisci</p>
                </div>

                <div class="korisnik-info">
                    <p>Ocene i misljenja</p>
                </div>

                <div class="korisnik-info korisnik-info__i">
                    <p>Odjavljivanje/logout</p>
                </div>



        </div>

    {% else %}
        <h1>Connection</h1>
       <form method="post" action="{{ login }}">
           {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <input type="submit" class="button" value="Uloguj se"/>
       </form>
    {% endif %}
{% endblock %}

{#            <tr>#}
{#                <td>Username:<input type="text"/> <br/></td>#}
{#                <td>Password:<input type="password"/> <br/></td>#}
{#            </tr>#}